{% extends 'base.html' %}

{% block content %}

	
	<div>
		<div class="loader" style="display: none;"></div>
	</div>

	<table class="table mt-5 shadow">
		<thead>
			<tr>
				<th scope="col">Page Name</th>
				<th scope="col">Url Slug</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for page in page_names %}
			<tr>
				<td><a href="{{ page.slug }}" target="_blank">{{ page.page_name }}</a></td>
				<td>{{ page.slug }}</td>
				<td class="button-block"><button class="edit btn btn-primary" title="edit page">Edit Meta Tags</button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
			<button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form class="edit-form" action="{{ url_for('metaContent_edit') }}" method="post">
				<div class="row">
					<div class="col-md">
						<div class="form-group m-2">
							<label for="page-name">Page Name</label>
							<input type="text" class="form-control" id="page-name" name="page_name" placeholder="Enter Page Name" readonly>
						</div>
						
						<div class="form-group m-2">
							<label for="title">Meta Title</label>
							<input type="text" class="form-control check" id="title" name="meta_title" placeholder="Enter Title">
						</div>
						
						<div class="form-group m-2">
							<label for="keywords">Meta Keywords</label>
							<input type="text" class="form-control recommand" id="keywords" name="meta_keywords" placeholder="Enter Keywords   eg - coding,programing">
							<span class="small recommandation keywords" style="color:yellowgreen;display: none;">10 words recommanded</span>
						</div>
						
						<div class="form-group m-2">
							<label for="canonical">Canonical</label>
							<input type="text" class="form-control" id="canonical" name="canonical" placeholder="Enter Canonical Link">
						</div>
						
						<div class="form-group m-2">
							<label for="ogtitle">OG:Title</label>
							<input type="text" class="form-control" id="ogtitle" name="og_title" placeholder="Enter og title">	   
						</div>
						<div class="form-group m-2 form-check">
								<input type="checkbox" class="form-check-input" id="title-checkbox">
								<label class="form-check-label small" for="title-checkbox">Same as meta title</label>
						</div>
						
						
					</div>
					<div class="col-md">
						<div class="form-group m-2">
							<label for="url-slug">Url Slug</label>
							<input type="text" class="form-control" id="url-slug" name="url_slug" placeholder="Enter Page Url Slug">
							<span class="small url-slug" style="color:red;display:none;">Invalid URL Slug</span>
						</div>
						<div class="form-group m-2">
							<label for="description">Meta Description</label>
							<input type="text" class="form-control check recommand" id="description" name="meta_description" placeholder="Enter Description">
							<span class="small recommandation description" style="color:yellowgreen;display: none;">50-160 characters recommanded</span>
						</div>
						<div class="form-group m-2">
							<label for="robots">Meta Robots</label><br>
							<input type="hidden" id="robo" name="meta_robots">
							<select id="robots" multiple="multiple">
								<option value="index">index</option>
								<option value="follow">follow</option>
								<option value="noindex">noindex</option>
								<option value="nofollow">nofollow</option>
								<option value="noimageindex">noimageindex</option>
								<option value="none">none</option>
							</select>
						</div>
						<div class="form-group m-2">
							<label for="type">OG:Type</label>
							<input type="text" class="form-control" id="type" name="og_type" list="types" placeholder="Enter og type">
							<datalist id="types">
								<option>website</option>
								<option>article</option>
								<option>book</option>
								<option>profile</option>
							</datalist>
						</div>
						<div class="form-group m-2">
							<label for="ogdescription">OG:Description</label>
							<input type="text" class="form-control recommand" id="ogdescription" name="og_description" placeholder="Enter og description">
							<span class="small recommandation ogdescription" style="color:yellowgreen;display: none;">50-160 characters recommanded</span>
						</div>
						<div class="form-group m-2 form-check">
							<input type="checkbox" class="form-check-input" id="description-checkbox">
							<label class="form-check-label small" for="description-checkbox">Same as meta description</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group m-2 col">
						<label for="image-input">OG:Image</label>
						<input type="hidden" name="image_bin" id="image-bin">
						<input type="file" accept=".jpg, .jpeg, .png" class="form-control" id="image-input" name="og_image">
						<span class="small recommandation ogimage" style="color:yellowgreen;display: none;"> 1280pixels x 627pixels</span>
					</div>
				</div>
				<div class="row">
					<div style="text-align:center;">
						<a href="#" class="view-image ml-3">View Image</a><br>
						<img class="image-preview img-thumbnail shadow" height="50%" width="50%" src="">
					</div>
				</div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary" id="submit-form">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
	<script>

		$(document).ready(function(){


			$('body').on('shown.bs.modal', '.modal', function() {
			  $(this).find('#robots').each(function() {
			    var dropdownParent = $(document.body);
			    if ($(this).parents('.modal.in:first').length !== 0)
			      dropdownParent = $(this).parents('.modal.in:first');
			    $(this).select2({
			      dropdownParent: $('.modal'),
			      width: '100%',
				  placeholder: "Enter robots   eg - index,follow"
			    });
			  });
			});

			$('#robots').change(function(){
				$('#robo').val($(this).val());
			})

			$('.image-preview').hide()


			let editButton = document.getElementsByClassName('edit');
			Array.from(editButton).forEach(function(element){
				element.addEventListener('click', editRequest);
			});

			function editRequest(){

				document.querySelector('body').style.opacity = 0.7;
				document.querySelector('.loader').style.display = 'block';

				let page_name = $(this).parent().siblings().first().text();
				



				let checkboxes = document.getElementsByClassName('form-check-input');

				let title_description = document.getElementsByClassName('check');


				


				Array.from(checkboxes).forEach(function(element) {
				element.addEventListener('change', check);
				});

				Array.from(title_description).forEach(function(element) {
				element.addEventListener('input', check);
				});



				$.ajax({
					type:'POST',
					url: "{{ url_for('pages_edit_request') }}",
					success: function(result){
						document.getElementById('page-name').value = result.page_name;
						document.getElementById('url-slug').value = result.url_slug;
						if (result.meta_title!='undefined'){
							document.getElementById('title').value = result.meta_title;
						}
						if (result.meta_description!='undefined'){
							document.getElementById('description').value = result.meta_description;
						}
						if (result.meta_keywords!='undefined'){
							document.getElementById('keywords').value = result.meta_keywords;
						}
						if (result.meta_robots!='undefined'){

							let values = result.meta_robots.split(',');

							$('#robots').select2().val(values).trigger('change');
						}
						if (result.meta_canonical!='undefined'){
							document.getElementById('canonical').value = result.meta_canonical;
						}
						if (result.og_type!='undefined'){
							document.getElementById('type').value = result.og_type;
						}
						if (result.og_title!='undefined'){
							document.getElementById('ogtitle').value = result.og_title;
						}
						if (result.og_description!='undefined'){
							document.getElementById('ogdescription').value = result.og_description;
						}
						
						
						
						document.getElementsByClassName('modal-title')[0].innerHTML = result.page_name;



						if (result.og_image){
							let url = '/static/crop_images/'
							url = url+result.og_image;
							$('.image-preview').attr('src', url);
						}

						document.querySelector('body').style.opacity = 1;
						
						document.querySelector('.loader').style.display = 'none';

						$('#editModal').modal('show');


						let save_button = document.getElementById('submit-form');

						save_button.addEventListener('click', form_submit);

			

						
						
					},
					data: {'data':page_name}

				})
				
			}


			$(document).on('change', '#image-input', show_image)

			$(document).on('input', '.recommand', add_recommandation)

			$(document).on('input', '#url-slug', slug_validation)

			$(document).on('click', '.view-image', view_image)




			var image_status = 'view';

			function view_image(){
				$('.image-preview').fadeToggle();
				if (image_status=='view'){
					$('.view-image').text('Hide Image');
					image_status = 'hide';
				}
				else{
					$('.view-image').text('View Image');
					image_status = 'view';
				}
				
			}



			function check(){

					let check1 = document.getElementById("title-checkbox").checked;
					let check2 = document.getElementById("description-checkbox").checked;


					if(check1){
						document.getElementById('ogtitle').value = document.getElementById('title').value;
						document.getElementById('ogtitle').readOnly = true;

					}
					else{
						document.getElementById('ogtitle').readOnly = false;
					}
					if(check2){
						document.getElementById('ogdescription').value = document.getElementById('description').value;
						document.getElementById('ogdescription').readOnly = true;
					}
					else{
						document.getElementById('ogdescription').readOnly = false;
					}
				}


			var slug_validate = true;
			

			function form_submit(){

				if (slug_validate){
					$('.edit-form').submit();
				}

				


			}



			function show_image(event){

				let reader = new  FileReader()

				reader.onload = function(){
					let img = new Image;
					img.onload = function(e){
						if (img.height>700 || img.height<550 || img.width>1350 || img.width<1200){
							$('.ogimage').text(`1280pixels x 627pixels recommanded. Your image dimension is ${img.width} x ${img.height}`);
							$('.ogimage').show();
						}
						else{
							$('.ogimage').hide()
						}
					}
					img.src = reader.result;
					$('#image-bin').attr('value', img.src);
				}

				reader.readAsDataURL(event.target.files[0]);

			}

			function image_recommandation(width, height){
				$('.ogimage').show()
			}

			function add_recommandation(event){

				

				if (event.target.id=='description'){
					if (event.target.value.length>160 || event.target.value.length<50){

						$('.description').show();
					}
					else{
						$('.description').hide();
					}
				}

				if (event.target.id=='ogdescription'){
					if (event.target.value.length>160 || event.target.value.length<50){

						$('.ogdescription').show();
					}
					else{
						$('.ogdescription').hide();
					}
				}

				if (event.target.id=='keywords'){

					let words = event.target.value.split(',').length;

					if (words>10){

						$('.keywords').show();
					}
					else{
						$('.keywords').hide();
					}
				}


			}


			function slug_validation(event){

				if (/(^\/$|^(\/[a-z-]+)+\/?$)/.test($('#url-slug').val()) == false){
					$('.url-slug').show();
					slug_validate = false;
				}
				else{
					$('.url-slug').hide();
					slug_validate = true;
				}

			}


			

		})

		


	</script>


{% endblock %}