{% extends 'base.html' %}

{% block content %}
	
<div class="d-flex justify-content-center">
	<form action="" method="post" class="form  mt-5 col-sm-6 px-0 rounded-lg shadow">

		{{ form.hidden_tag() }}
		<div class="form-content">
			<div class="col">
				<div class="form-group m-4">
					{{ form.username.label() }}
					{{ form.username(size=32,type="text", value=user.username, class="form-control", placeholder="Enter Username *") }}
					{% for error in form.username.errors %}
					<span class="small" style="color: red">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="form-group m-4">
					{{ form.name.label() }}
					{{ form.name(size=32,type="text", class="form-control", value=user.name, placeholder="Enter Name *")}}
					{% for error in form.name.errors %}
					<span class="small" style="color: red">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="form-group m-4">
					{{ form.email.label() }}
					{% if user.email %}
					{{ form.email(size=32,type="email", value=user.email, class="form-control", placeholder="Enter Email")}}
					{% else %}
					{{ form.email(size=32,type="text", class="form-control", placeholder="Enter Email")}}
					{% endif %}
					{% for error in form.email.errors %}
					<span class="small" style="color: red">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="form-group m-4">
					{{ form.contact.label() }}
					{% if user.phone %}
					{{ form.contact(size=32,type="tel", maxlength="10",minlength="10", value=user.phone, class="form-control contact", placeholder="Enter Contact Number")}}
					{% else %}
					{{ form.contact(size=32,type="tel", maxlength="10",minlength="10", class="form-control contact", placeholder="Enter Contact Number")}}
					{% endif %}
					{% for error in form.contact.errors %}
					<span class="small" style="color: red">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="form-group m-4 d-md-flex  justify-content-end align-items-center">
					{{ form.submit(class="btn btn-outline-primary") }}
					<a class="btn btn-danger ml-4" href="{{ url_for('pages') }}">Cancel</a>
				</div>
			</div>
		</div>
	</form>
</div>
	
	
{% endblock %}