<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/92da58560f.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
	<meta name="google-site-verification" content="J5mrqHHJX7agvgGlIlM_BBuH_JSpm7EfNM-z9BJagA4" />
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Home</title>
	{% endif %}
	<style>
		.button-block {text-align: right;}
		.loader {
			border: 8px solid #f3f3f3;
			border-radius: 50%;
			border-top: 8px solid #3498db;
			width: 70px;
			height: 70px;
			-webkit-animation: spin 2s linear infinite; /* Safari */
			animation: spin 2s linear infinite;
			position: fixed;
			top: 50%;
			right: 50%;
			transform: translate(-50%, -50%);
			}

			/* Safari */
			@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
			}

			@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
			}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<div class="container">
			<a href="{{ url_for('pages') }}" class="navbar-brand">Awakinn Project</a>
			<button class="navbar-toggler" data-toggle='collapse' data-target="#navbarContent"aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarContent">
				 <ul class="navbar-nav">
				</ul>

				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('pages') }}">Pages</a>
					</li>
					<li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          {{ current_user.username }}
			        </a>
			        <div class="dropdown-menu shadow rounded" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="{{ url_for('admin_profile') }}">Edit Profile</a>
			          <a class="dropdown-item" href="{{ url_for('admin_change_password') }}">Change Password</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="{{ url_for('admin_logout') }}">Logout</a>
			        </div>
			      </li>
			    
					{% endif %}

				</ul>

			</div>
		</div>
	</nav>
	<div class="container">
		<div class="d-flex justify-content-center" style="z-index: 2">
			{% with messages = get_flashed_messages(category_filter=["message"]) %}
	        {% if messages %}
	        <ul>
	            {% for message in messages %}
	            
	            <div class="alert alert-success alert-dismissible fade show" role="alert">
				  {{ message }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				{% endfor %}
	        </ul>
	        {% endif %}
	        {% endwith %}

	        {% with errors = get_flashed_messages(category_filter=["error"]) %}
	        {% if errors %}
	        <ul>
	            {% for error in errors %}
	            
	            <div class="alert alert-danger alert-dismissible fade show" role="alert">
				  {{ error }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				{% endfor %}
	        </ul>
	        {% endif %}
	        {% endwith %}

	        {% with errors = get_flashed_messages(category_filter=["info"]) %}
	        {% if errors %}
	        <ul>
	            {% for error in errors %}
	            
	            <div class="alert alert-info alert-dismissible fade show" role="alert">
				  {{ error }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				{% endfor %}
	        </ul>
	        {% endif %}
	        {% endwith %}
		</div>
	</div>
	 
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<script>
		$(document).ready(function(){
			setTimeout(function(){
				setTimeout(function() {
					$(".alert").alert('close');
				}, 3000);
			})
		})
	</script>
</body>
</html>